* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', serif;
  color: rgb(214, 214, 214);
}

/* Navbar */
header {
  background: rgb(20, 20, 20);
  position: fixed;
  width: 100%;
  /* border: 1px solid red; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hamburger */
.nav-toggle {
  border: transparent;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}

.nav-toggle span {
  display: block;
  width: 2rem;
  height: 4px;
  margin-bottom: 5px;

  background-color: rgb(105, 105, 105);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.nav-toggle:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: cyan;
}

.nav-toggle.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.nav-toggle.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.nav-toggle.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.nav-toggle.is-active:hover span {
  background-color: cyan;
}
/* end hamburger */
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

nav {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
nav li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 10px 20px;
}
nav a {
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
}

/* for underline */
nav ul li a::after {
  content: '';
  height: 3px;
  background: #ff00f4;
  position: absolute;
  /* left: 0; */
  left: 50%;
  bottom: -6px;
  /* line is hidden */
  width: 0;
  transition: 0.5s;
}

/* show underline */
nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
.nav-open {
  height: 100vh;
}

@media (min-width: 900px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    display: none;
  }

  .nav-links {
    height: auto;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }
}
